        ul{
            list-style-type: none;
            display: flex;
            gap: 10px;
            background: red;
            color: white;
            font-size: 25px;
        }

        li:hover{
            background-color: yellowgreen;
            color: black;
        }
    
    
    
